body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container1 {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.algorithm {
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    margin-bottom: 20px;
}

.algo {
    margin: 0;
    white-space: pre-wrap;
}

.table {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.time-complexity {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.value-of-n {
    font-weight: bold;
    margin-bottom: 10px;
}